@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
html{
    overflow: hidden;
}
*{
    box-sizing: border-box;
    font-family: 'Oswald';}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.text{
    display: inline-block;
    vertical-align: top; 
    width: 50%;        
    padding-left: 5%;  
    margin-top: 10%;
}

.links{
    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    min-height: 100vh;   
    width: 45%;          
    position: absolute;
    right: 0; 
    top: 0;
}

img{
    position: relative;
    top: 7vh;
    right: 6vw;
    width: 34vw;
    height: 70vh;
    object-fit: contain;
    margin: 0 auto;
}

h1{
    margin: 0;
    width: 30vw;
    font-size: 5vw;
    line-height: 12vh;
    color: #5D5D7D;
}

p{
    width: 45vw;
    font-size: 2vw;
    line-height: 5vh;
    color: #5D5D7D;
    opacity: .6;
    margin: 2vh 0;;
}

button{
    width: 269px;
    height: 55px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979958);
    border: none;
    border-radius: 30px;
    cursor: pointer;

    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
button:hover{
    opacity: .8;}
button:active{
    opacity: .5}


header{
    margin: 3vh 0 0 5vw;
}
a{
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 2vw;
}
a:hover{
    opacity: .4;}
a:active{
    opacity: .8;}




@media screen and (max-width:825px){
    header{
        margin: 3vh 0 0 3vw;
    }
}

@media screen and (max-width:670px){
    .text{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    .links{
        display: block;
        height: auto;
        width: 100%;
        position: static;

    }
    img{
        position: static;
        display: block;
        width: 65vw;
        height: 70vh;
        object-fit: contain; 
        margin: 0 auto;
    }
    header{
        display: none;
    }
    h1{
        font-size: 6vw;

        width: 80vw;
        margin: 1vh auto;
        text-align: center;
    }
    p{
        margin: 0 auto;
        width: 70vw;
        text-align: center;
        font-size: 4vw;
        line-height: 5vw;
    }
    button{
        margin: 2vh auto;
        display: block;
        width: 40vw;
        height: 7vh;
        font-size: 3vw;
    }
}

@media screen and (max-width:350px){
    .text{
        height: 70%;
    }
    p{
        display: none;
    }
}
